@font-face {
	font-family: 'gothic';
	src: url(../../assets/fonts/gothic.eot) format('embedded-opentype'),
	url(../../assets/fonts/gothic.woff) format('woff'),
	url(../../assets/fonts/gothic.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}